@model JobDetailsDto

@{
    ViewData["Title"] = "Details";
    Layout = "../Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Progress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Progress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @if (Model.EndTime != null)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DoneByDays)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DoneByDays)
            </dd>
        }
        else
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DaysLeft)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DaysLeft)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DaysBehind)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DaysBehind)
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10" color="@Model.Status.Color">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10" >
            @await Html.PartialAsync("../User/_List.cshtml",@Model.Users)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
